# Python cache files
__pycache__/
venv/
.venv/
.qodo/

# Environment variables
.env
.env.local
.env.production
.env.*

# Terraform
*.tfvars
.terraform/
.terraform.lock.hcl

# Static & test data
static/

# Workspace & project-specific files
GAM4water_0.0.4.R
ECO_downld_new.R
sat-water-temps.code-workspace
test.html

tif-to-png.py
test.py
.qodo
test.txt
node_modules/
.wrangler/
.svelte-kit/
.DS_Store