appeears_user = "your_username"
appeears_pass = "your_password"
cloudflare_api_token = "your_cloudflare_api_token"
cloudflare_account_id = "your_cloudflare_account_id"
r2_bucket_name = "multitifs"
pages_project_name = "sat-water-temps"
pages_production_branch = "main"
r2_access_key_id = "your_r2_access_key_id"
r2_secret_access_key = "your_r2_secret_access_key"
r2_endpoint = "https://<accountid>.r2.cloudflarestorage.com"
pages_domain = "your-app.pages.dev"
